.container{
    background-color: white;
     height: 80%;
}

#down{
    margin: 5px 40px;
    height: 690px;  
}

.fas {
    font-size: 15px;
    color: white;
}

H3{
    color: black;
}

.lower-box{
    background-color: rgb(231, 235, 240);
    margin-bottom: 1%;
    height:730px;
    padding: 10px;
}


#main{
    border: 2px solid lightgrey;
    height: 800px;   
}

#noti{
    color: white;
}

#teer{
    margin-right: 10px;   
}

.name_network{
    background-color: #627d8a;
    margin-top: 1%;
    padding: 1%;
    border-bottom: #5c7685 1px solid;

}

.network_name{  
    
    margin-top: 2px;
    margin-bottom: 2px;   
    margin-left: 3%;
}

#name{
    color: white;
    font-size: 12px; 
}

